### Q1. What is a database? Differentiate between SQL and NoSQL databases.

SQL databases display data in form of tables so it is known as table-based database. NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores. SQL databases are vertically scalable. NoSQL databases are horizontally scalable.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.

CREATE :  used to create a new table in SQL. 

ALTER : used to add, delete or change columns in the existing table.

TRUNCATE : used to remove all rows from the table, but the structure of the table still exists.

DROP : used to remove an existing table along with its structure from the Database.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.

The INSERT statement introduces new rows into an existing table.

The DELETE statement removes a row or combination of rows from a table.

The UPDATE statement enables users to update a row or group of rows in a table.

### Q4 What is DQL? Explain SELECT with an example.

A SELECT statement retrieves zero or more rows from one or more database tables or database views.

### Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign Key:  A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

mycursor = mydb.cursor

mycursor.execute("CREATE TABLE DATA.Details(c1 INT,C2 FLOAT")

mydb.close()